@using Magic.Hubs;
@using Microsoft.AspNet.Identity

<div id="user-list-overlay"></div>
<div id="user-list-add-member-container" style="overflow: auto; height: 220px;">
    <ul id="user-list-add-member">
        <li class="chat-user" />
    </ul>
</div>

<div class="chat container">

    <h3>
        Hello@{ if (Request.IsAuthenticated)
         { <span id=user_name>@User.Identity.GetUserName()</span>} }!
    </h3>

    <input id="chat-room-selection" class="btn btn-primary" type="hidden" value="default" />

    <ul id="chat-room-selectlist">
        <li id="default">
            All
        </li>
    </ul>

    <div id="chat_room_container">
        <div class="chat-new-message-container container">
            <input class="new-chat-message form-control" type="text" />
            <input class="new-chat-message-send btn btn-primary" type="button" value="Send" />
        </div>

        @{Html.RenderAction("GetChatRoomPartial", "Chat", new { roomId = ChatHub.DefaultRoomId });}

    </div>
</div>

@*----------------------------------------------------- SCRIPT -----------------------------------------------------*@
@Scripts.Render("~/bundles/jquerysignalR")
@Scripts.Render("~/signalr/hubs")
@Scripts.Render("~/Scripts/_chat.js")
@*@Scripts.Render("~/Scripts/_hub-start.js")*@
