@if (TempData["Error"] != null)
{
    <p><span class="text-danger">SIR! MAY I HAVE YOUR ATTENTION, PLEASE!</span> @TempData["Error"] </p>
}

@if (TempData["Message"] != null)
{
    <p class="text-success">@TempData["Message"]</p>
}