<style>
    #file-uploader-overlay {
        position: fixed;
        z-index: 99;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #000000;
        overflow: hidden;
        -moz-filter: alpha(opacity=10) -ms-opacity: 0.1;
        -o-filter: alpha(opacity=10) -ms-opacity: 0.1;
        filter: alpha(opacity=10);
        -ms-opacity: 0.1;
        opacity: 0.1;
        display: none;
    }

    .dialog,
    #file-uploader {
        position: absolute;
        border: 2px solid #000000;
        display: none;
        left: 50%;
        margin-left: -25%;
        width: 50%;
        min-width: 100px;
        max-width: 500px;
        height: auto;
        background-color: #ffffff;
        z-index: 100;
        text-align: center;
        padding: 10px;
    }

    #file-uploader input {
        margin: 6px 0 6px 0;
    }

    #file-uploader-selected-file-overlay {
        width: 100%;
        max-width: 100%;
        text-overflow: ellipsis;
    }
</style>

<div id="file-uploader-overlay"></div>

<div id="file-uploader" class="upload dialog">

    <input type="text" id="file-uploader-selected-file-overlay" value="Select file" class="btn" readonly/>
    <input type="file" id="file-uploader-selected-file" class="hidden" />

    <input type="hidden" id="file-property-id" value="" />
    <input type="button" id="file-uploader-upload-btn" value="Upload" class="btn btn-warning" />
    <input type="button" id="file-uploader-cancel-btn" value="Cancel" class="btn btn-inverse" />

</div>

<script>
    var uploadPath = '@ViewData["uploadPath"]';
</script>