@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to the Game!</h2>

<div class="row">
    @Html.ActionLink("Start", "Start", "Game", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Pause", "Pause", "Game", null, new { @class = "btn btn-default" })
</div>