@model string
@using Magic.Helpers

<div class="upload image-upload">
    <img src="@(String.IsNullOrWhiteSpace(Model) ? Html.GetPlaceholder() : Url.Content(Model))" alt="" id="img-@Html.GetIdFor(m => m)" />

    @Html.HiddenFor(m => m)
    <div class="upload-controls">
        <input type="button" value="Upload" class="btn btn-warning btn-upload" id="up-@Html.GetIdFor(m => m)" />
        <input type="button" value="Delete" class="btn btn-danger btn-upload-delete" id="del-@Html.GetIdFor(m=> m)" @(String.IsNullOrWhiteSpace(Model) ? "style=display:none;" : "") />
    </div>
</div>
