.container {
    height: auto;
    width: 100%;
    overflow: hidden;
}

ul {
    padding: 0 0 0 3px;
    margin: 0;
}

.left {
    width: auto;
}

.right {
    float: right;
}

#chat-rooms-container {
    position: relative;
    height: 215px;
    margin-top: 36px;
}

.chat {
    margin: 5px 0;
}

#chat-header-bar {
    position: relative;
}

#chat-header {
    margin-bottom: 5px;
}

#chat-add-user-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 8px;
    z-index: 101;
}

.chat-room {
    /*position: absolute;
    height: 100%;
    width: 100%;*/
}

.chat-room-tab {
    position: absolute;
    top: 0;
    /*-moz-text-overflow: ellipsis;
    text-overflow: ellipsis;*/
    text-shadow: 1px 1px 2px #636363;
    float: left;
    display: block;
    overflow: hidden;
    text-align: center;
    border: 1px solid black;
    border-bottom: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #ffffff;
    background-color: #428bca;
    width: 100%;
    line-height: 36px;
    height: 36px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -36px;
}

.chat-room-tab-name {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 32px 0 8px;
    letter-spacing: -0.2px;
    /*border: 20px solid transparent;
    border-bottom: 0;
    border-top: 0;*/
}

.no-tab-close {
    margin: 0 8px 0 8px;
}

.chat-room-tab-close-btn {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    /*margin: 0 5px;*/
    padding: 2px 8px;
    border: 1px solid #cccccc;
    line-height: 20px;
    border-bottom-left-radius: 4px;
    /* border-bottom-right-radius: 4px; */
    border-top: 0;
    border-right: 0;
}

.chat-room-tab-add-user {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 5px;
}

.chat-room-content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.chat-room-users-container {
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    margin: 0;
    width: 110px;
    height: 215px;
    padding: 6px 12px;
    border: 2px solid black;
    background: #f0f8ff;
}

.chat-room-users,
.chat-room-messages {
    list-style-type: none;
}

.display-name {
    font-weight: bold;
}

.chat-message span {
    float: left;
}

.chat-user,
.chat-message-sender {
    cursor: pointer;
    margin: 0 6px;

}


    .chat-room-tab:hover,
    .chat-user:hover,
    .chat-message-sender:hover {
        filter: alpha(opacity=80);
        opacity: 0.8;
    }

.chat-room-messages-container {
    height: 100%;
    overflow: auto;
    padding: 6px 12px;
    border: 2px solid black;
    border-right: 0;
}

.chat-message-new-container {
    white-space: nowrap;
}

#chat-message-new {
    width: 100%;
    max-width: 100%;
    display: inline;
    margin: 0 -63px 3px 0;
    padding-right: 67px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid black;
    border-top: 0;
}

#chat-message-send-btn {
    width: 60px;
    display: inline;
    margin: 0 0 3px 0;
}



#chat-room-selectlist {
    list-style-type: none;
    display: none;
    width: 100%;
    height: 34px;
    overflow: hidden;
    white-space: nowrap;
    padding: 0px;
}

.chat-room-users-selectlist {
    width: 100%;
    list-style-type: none;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
}

.dummy {
    visibility: hidden;
}

#user-profile-tooltip-container {
    display: none;
    height: 100%;
        margin-right: 110px;
        padding: 10px;
}

    .user-profile-tooltip {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: #ffffff;
        text-align: center
    }

    #user-profile {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    #user-profile-data {
        margin: 20px 0;
        display: block;
    }
