@model bool

<div id="friendship-status">
    @if (Model)
    {
        @Ajax.ActionLink("Remove from friends", "RemoveFriend", "Chat", new { userName = Model.UserName },
        new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "friendship-status", InsertionMode = InsertionMode.Replace })
    }
    else
    {
        @Ajax.ActionLink("Add to friends", "AddFriend", "Chat", new { userName = Model.UserName },
        new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "friendship-status", InsertionMode = InsertionMode.Replace })
    }
</div>

