@{
    Layout = null;
}
@model string

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Example</title>

    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>

    @{ Html.RenderPartial("_UploaderPartial", new ViewDataDictionary { { "uploadPath", "/UploaderExample" } }); }

    @Html.EditorFor(m => m, "ImageUpload", "Image")

</body>
</html>
