@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CMS";
}

<div class="row">
        @Html.ActionLink("Manage Cards", "Index", "Cards", null, new { @class="btn btn-default" })
        @Html.ActionLink("Manage Players", "Index", "Players", null, new { @class = "btn btn-default" })
</div>