.formElement .chk-box-with-desc {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-left: 0;
}

.formElement .chk-box-desc{
    line-height: 28px;
    display: inline;
    word-wrap: break-word;
    text-wrap: normal;
}