@{
    ViewBag.Title = "CMS";
}

<div class="row">
        @Html.ActionLink("Manage Cards", "Index", "Cards", null, new { @class="btn btn-default" })
        @Html.ActionLink("Manage ChatLog", "Index", "ChatLogs", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Get Cards", "GetCards", "Home", null, new { @class = "btn btn-default" })
</div>