@using Juza.Magic.Helpers

<script src="/Scripts/global/chat/chat.jsx"></script>

<script>
    @Html.RequireScriptModule("chat")
</script>

<div id="react-chat"></div>

@Html.React("Chat", new
{
    isAuthenticated = @User.Identity.IsAuthenticated,
    userName = @User.Identity.Name
}, containerId: "react-chat")