@model ProfileViewModel

<style>

    /*#user-profile-tooltip-overlay {
        position: fixed;
        z-index: 101;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #000000;
        overflow: hidden;
        -moz-filter: alpha(opacity=10);
        -o-filter: alpha(opacity=10);
        -webkit-filter: alpha(opacity=10);
        -ms-opacity: 0.1;
        filter: alpha(opacity=10);
        opacity: 0.1;
        display: none;
    }

    .close-btn {
        position: absolute;
        right: 0;
        top: 0;
        margin: 2px 5px 0 0; 
    }
    
    .available-chat-user {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 25px;
        padding: 0 0 0 5px;
}

    .toggle {
        background-color: #fbfbfb !important;
        border: 1px solid #cccccc;
    }*/

    /*#available-chat-users{
        text-overflow: ellipsis;
        margin: 10px 10px;
        text-align: left;
        padding: 0;
    }*/

</style>

@*<div id="user-profile-tooltip-overlay" class="overlay"></div>*@

@*<div id="user-profile-tooltip" class="tooltip">*@
    @*<span id="user-profile-tooltip-close-btn" class="close-btn" >X</span>*@
<div class="user-profile-tooltip">
    <div id="user-profile">
        @Html.DisplayFor(m => m.Image, "Image")
        <span id="user-profile-data" class="display-name" style="color:@Model.ColorCode">@Model.UserName</span>
        @Html.ActionLink("View Profile", "Profile", "Account", new { id = Model.UserName }, new { @class = "btn btn-default" })
        @*@Html.ActionLinkElement(Html.ActionLink("View Profile", "Profile", "Account", new { id = Model.UserName }, new { @class = "btn btn-default" }),
        "<span class=\"chat-user\" style=\"color:" + @Model.ColorCode + "\">" + Model.UserName + "</span>")*@
    </div>
</div>
@*</div>*@